.elementor-kit-3 {
    --e-global-color-primary: #00adef;
    --e-global-color-secondary: #0A4624;
    --e-global-color-text: #555D55;
    --e-global-color-accent: #00adef;
    --e-global-color-bc4180d: #FFFFFF;
    --e-global-color-6ffecf7: #00adef5c;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Poppins";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.7em;
    --e-global-typography-accent-font-family: "Syne";
    --e-global-typography-accent-font-size: 16px;
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-accent-line-height: 1em;
    --e-global-typography-c7f22b7-font-family: "Syne";
    --e-global-typography-c7f22b7-font-size: 58px;
    --e-global-typography-c7f22b7-font-weight: 600;
    --e-global-typography-c7f22b7-line-height: 1.1em;
    --e-global-typography-f503642-font-family: "Syne";
    --e-global-typography-f503642-font-size: 58px;
    --e-global-typography-f503642-font-weight: 600;
    --e-global-typography-f503642-line-height: 1.1em;
    --e-global-typography-42a7045-font-family: "Syne";
    --e-global-typography-42a7045-font-size: 44px;
    --e-global-typography-42a7045-font-weight: 600;
    --e-global-typography-42a7045-line-height: 1.1em;
    --e-global-typography-2d5c863-font-family: "Syne";
    --e-global-typography-2d5c863-font-size: 28px;
    --e-global-typography-2d5c863-font-weight: 600;
    --e-global-typography-2d5c863-line-height: 1.2em;
    --e-global-typography-db09e49-font-family: "Syne";
    --e-global-typography-db09e49-font-size: 24px;
    --e-global-typography-db09e49-font-weight: 600;
    --e-global-typography-8bc989e-font-family: "Syne";
    --e-global-typography-8bc989e-font-size: 22px;
    --e-global-typography-8bc989e-font-weight: 600;
    --e-global-typography-0220091-font-family: "Syne";
    --e-global-typography-0220091-font-size: 18px;
    --e-global-typography-0220091-font-weight: 500;
    --e-global-typography-0220091-line-height: 1em;
    --e-global-typography-c0665a3-font-family: "Syne";
    --e-global-typography-c0665a3-font-size: 24px;
    --e-global-typography-c0665a3-font-weight: 500;
    --e-global-typography-89ad8e6-font-family: "Syne";
    --e-global-typography-89ad8e6-font-size: 20px;
    --e-global-typography-89ad8e6-font-weight: 600;
    --e-global-typography-89ad8e6-line-height: 1.2em;
    --e-global-typography-f5a7dbf-font-family: "Syne";
    --e-global-typography-f5a7dbf-font-size: 17px;
    --e-global-typography-f5a7dbf-font-weight: 500;
    --e-global-typography-f5a7dbf-line-height: 1em;
    --e-global-typography-066bf11-font-family: "Poppins";
    --e-global-typography-066bf11-font-size: 14px;
    --e-global-typography-066bf11-text-transform: capitalize;
    --e-global-typography-56c895b-font-family: "Poppins";
    --e-global-typography-56c895b-font-size: 12px;
    --e-global-typography-56c895b-font-weight: 400;
    --e-global-typography-7b62802-font-family: "Poppins";
    --e-global-typography-7b62802-font-size: 40px;
    --e-global-typography-7b62802-font-weight: 500;
    --e-global-typography-7b62802-line-height: 1em;
    --e-global-typography-a19dd99-font-family: "Syne";
    --e-global-typography-a19dd99-font-size: 16px;
    --e-global-typography-a19dd99-font-weight: 600;
    --e-global-typography-872569c-font-family: "Poppins";
    --e-global-typography-872569c-font-size: 15px;
    --e-global-typography-872569c-font-weight: 400;
    --e-global-typography-4d4ff2c-font-family: "Syne";
    --e-global-typography-4d4ff2c-font-size: 120px;
    --e-global-typography-4d4ff2c-font-weight: 600;
    --e-global-typography-4d4ff2c-line-height: 1.1em;
    color: var( --e-global-color-text );
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
    line-height: var( --e-global-typography-text-line-height );
}

.elementor-kit-3 a {
    color: var( --e-global-color-accent );
}

.elementor-kit-3 h1 {
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-c7f22b7-font-family ), Sans-serif;
    font-size: var( --e-global-typography-c7f22b7-font-size );
    font-weight: var( --e-global-typography-c7f22b7-font-weight );
    line-height: var( --e-global-typography-c7f22b7-line-height );
    letter-spacing: var( --e-global-typography-c7f22b7-letter-spacing );
    word-spacing: var( --e-global-typography-c7f22b7-word-spacing );
}

.elementor-kit-3 h2 {
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-42a7045-font-family ), Sans-serif;
    font-size: var( --e-global-typography-42a7045-font-size );
    font-weight: var( --e-global-typography-42a7045-font-weight );
    line-height: var( --e-global-typography-42a7045-line-height );
    letter-spacing: var( --e-global-typography-42a7045-letter-spacing );
    word-spacing: var( --e-global-typography-42a7045-word-spacing );
}

.elementor-kit-3 h3 {
    color: var( --e-global-color-secondary );
    font-family: var( --e-global-typography-2d5c863-font-family ), Sans-serif;
    font-size: var( --e-global-typography-2d5c863-font-size );
    font-weight: var( --e-global-typography-2d5c863-font-weight );
    line-height: var( --e-global-typography-2d5c863-line-height );
    letter-spacing: var( --e-global-typography-2d5c863-letter-spacing );
    word-spacing: var( --e-global-typography-2d5c863-word-spacing );
}

.elementor-kit-3 h4 {
    color: var( --e-global-color-secondary );
    font-family: var( --e-global-typography-db09e49-font-family ), Sans-serif;
    font-size: var( --e-global-typography-db09e49-font-size );
    font-weight: var( --e-global-typography-db09e49-font-weight );
    line-height: var( --e-global-typography-db09e49-line-height );
    letter-spacing: var( --e-global-typography-db09e49-letter-spacing );
    word-spacing: var( --e-global-typography-db09e49-word-spacing );
}

.elementor-kit-3 h5 {
    color: var( --e-global-color-secondary );
    font-family: var( --e-global-typography-8bc989e-font-family ), Sans-serif;
    font-size: var( --e-global-typography-8bc989e-font-size );
    font-weight: var( --e-global-typography-8bc989e-font-weight );
    line-height: var( --e-global-typography-8bc989e-line-height );
    letter-spacing: var( --e-global-typography-8bc989e-letter-spacing );
    word-spacing: var( --e-global-typography-8bc989e-word-spacing );
}

.elementor-kit-3 h6 {
    color: var( --e-global-color-secondary );
    font-family: var( --e-global-typography-0220091-font-family ), Sans-serif;
    font-size: var( --e-global-typography-0220091-font-size );
    font-weight: var( --e-global-typography-0220091-font-weight );
    line-height: var( --e-global-typography-0220091-line-height );
    letter-spacing: var( --e-global-typography-0220091-letter-spacing );
    word-spacing: var( --e-global-typography-0220091-word-spacing );
}

.elementor-kit-3 button,.elementor-kit-3 input[type="button"],.elementor-kit-3 input[type="submit"],.elementor-kit-3 .elementor-button {
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    line-height: var( --e-global-typography-accent-line-height );
    color: var( --e-global-color-bc4180d );
    background-color: var( --e-global-color-accent );
    border-radius: 6px 6px 6px 6px;
    padding: 16px 26px 16px 26px;
}

.elementor-kit-3 label {
    color: var( --e-global-color-secondary );
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    line-height: var( --e-global-typography-accent-line-height );
}

.elementor-kit-3 input:not([type="button"]):not([type="submit"]),.elementor-kit-3 textarea,.elementor-kit-3 .elementor-field-textual {
    font-family: var( --e-global-typography-text-font-family ), Sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
    line-height: var( --e-global-typography-text-line-height );
    color: var( --e-global-color-secondary );
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #0B996F73;
    border-radius: 6px 6px 6px 6px;
    padding: 16px 24px 16px 24px;
}

.elementor-kit-3 input:focus:not([type="button"]):not([type="submit"]),.elementor-kit-3 textarea:focus,.elementor-kit-3 .elementor-field-textual:focus {
    color: var( --e-global-color-secondary );
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-accent );
}

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-block-end:20px;}

.elementor-element {
    --widgets-spacing: 20px 20px;
}

{
}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header {
    padding-right: 0px;
    padding-left: 0px;
}

@media(max-width: 1024px) {
    .elementor-kit-3 {
        --e-global-typography-text-font-size:15px;
        --e-global-typography-accent-font-size: 16px;
        --e-global-typography-c7f22b7-font-size: 48px;
        --e-global-typography-f503642-font-size: 48px;
        --e-global-typography-42a7045-font-size: 41px;
        --e-global-typography-42a7045-line-height: 1.2em;
        --e-global-typography-2d5c863-font-size: 26px;
        --e-global-typography-db09e49-font-size: 22px;
        --e-global-typography-8bc989e-font-size: 22px;
        --e-global-typography-c0665a3-font-size: 26px;
        --e-global-typography-89ad8e6-font-size: 22px;
        --e-global-typography-7b62802-font-size: 38px;
        --e-global-typography-a19dd99-font-size: 15px;
        --e-global-typography-4d4ff2c-font-size: 100px;
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-kit-3 h1 {
        font-size: var( --e-global-typography-c7f22b7-font-size );
        line-height: var( --e-global-typography-c7f22b7-line-height );
        letter-spacing: var( --e-global-typography-c7f22b7-letter-spacing );
        word-spacing: var( --e-global-typography-c7f22b7-word-spacing );
    }

    .elementor-kit-3 h2 {
        font-size: var( --e-global-typography-42a7045-font-size );
        line-height: var( --e-global-typography-42a7045-line-height );
        letter-spacing: var( --e-global-typography-42a7045-letter-spacing );
        word-spacing: var( --e-global-typography-42a7045-word-spacing );
    }

    .elementor-kit-3 h3 {
        font-size: var( --e-global-typography-2d5c863-font-size );
        line-height: var( --e-global-typography-2d5c863-line-height );
        letter-spacing: var( --e-global-typography-2d5c863-letter-spacing );
        word-spacing: var( --e-global-typography-2d5c863-word-spacing );
    }

    .elementor-kit-3 h4 {
        font-size: var( --e-global-typography-db09e49-font-size );
        line-height: var( --e-global-typography-db09e49-line-height );
        letter-spacing: var( --e-global-typography-db09e49-letter-spacing );
        word-spacing: var( --e-global-typography-db09e49-word-spacing );
    }

    .elementor-kit-3 h5 {
        font-size: var( --e-global-typography-8bc989e-font-size );
        line-height: var( --e-global-typography-8bc989e-line-height );
        letter-spacing: var( --e-global-typography-8bc989e-letter-spacing );
        word-spacing: var( --e-global-typography-8bc989e-word-spacing );
    }

    .elementor-kit-3 h6 {
        font-size: var( --e-global-typography-0220091-font-size );
        line-height: var( --e-global-typography-0220091-line-height );
        letter-spacing: var( --e-global-typography-0220091-letter-spacing );
        word-spacing: var( --e-global-typography-0220091-word-spacing );
    }

    .elementor-kit-3 button,.elementor-kit-3 input[type="button"],.elementor-kit-3 input[type="submit"],.elementor-kit-3 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-3 label {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-3 input:not([type="button"]):not([type="submit"]),.elementor-kit-3 textarea,.elementor-kit-3 .elementor-field-textual {
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width: 767px) {
    .elementor-kit-3 {
        --e-global-typography-text-font-size:15px;
        --e-global-typography-accent-font-size: 16px;
        --e-global-typography-c7f22b7-font-size: 43px;
        --e-global-typography-f503642-font-size: 38px;
        --e-global-typography-42a7045-font-size: 32px;
        --e-global-typography-42a7045-line-height: 1.2em;
        --e-global-typography-2d5c863-font-size: 25px;
        --e-global-typography-0220091-font-size: 16px;
        --e-global-typography-c0665a3-font-size: 22px;
        --e-global-typography-89ad8e6-font-size: 20px;
        --e-global-typography-f5a7dbf-font-size: 16px;
        --e-global-typography-7b62802-font-size: 36px;
        --e-global-typography-4d4ff2c-font-size: 100px;
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-kit-3 h1 {
        font-size: var( --e-global-typography-c7f22b7-font-size );
        line-height: var( --e-global-typography-c7f22b7-line-height );
        letter-spacing: var( --e-global-typography-c7f22b7-letter-spacing );
        word-spacing: var( --e-global-typography-c7f22b7-word-spacing );
    }

    .elementor-kit-3 h2 {
        font-size: var( --e-global-typography-42a7045-font-size );
        line-height: var( --e-global-typography-42a7045-line-height );
        letter-spacing: var( --e-global-typography-42a7045-letter-spacing );
        word-spacing: var( --e-global-typography-42a7045-word-spacing );
    }

    .elementor-kit-3 h3 {
        font-size: var( --e-global-typography-2d5c863-font-size );
        line-height: var( --e-global-typography-2d5c863-line-height );
        letter-spacing: var( --e-global-typography-2d5c863-letter-spacing );
        word-spacing: var( --e-global-typography-2d5c863-word-spacing );
    }

    .elementor-kit-3 h4 {
        font-size: var( --e-global-typography-db09e49-font-size );
        line-height: var( --e-global-typography-db09e49-line-height );
        letter-spacing: var( --e-global-typography-db09e49-letter-spacing );
        word-spacing: var( --e-global-typography-db09e49-word-spacing );
    }

    .elementor-kit-3 h5 {
        font-size: var( --e-global-typography-8bc989e-font-size );
        line-height: var( --e-global-typography-8bc989e-line-height );
        letter-spacing: var( --e-global-typography-8bc989e-letter-spacing );
        word-spacing: var( --e-global-typography-8bc989e-word-spacing );
    }

    .elementor-kit-3 h6 {
        font-size: var( --e-global-typography-0220091-font-size );
        line-height: var( --e-global-typography-0220091-line-height );
        letter-spacing: var( --e-global-typography-0220091-letter-spacing );
        word-spacing: var( --e-global-typography-0220091-word-spacing );
    }

    .elementor-kit-3 button,.elementor-kit-3 input[type="button"],.elementor-kit-3 input[type="submit"],.elementor-kit-3 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-3 label {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-3 input:not([type="button"]):not([type="submit"]),.elementor-kit-3 textarea,.elementor-kit-3 .elementor-field-textual {
        font-size: var( --e-global-typography-text-font-size );
        line-height: var( --e-global-typography-text-line-height );
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}
